.cardProducto {
    width: 18rem;
    margin: 4px;
    background-color:whitesmoke;
}

.cardProductos {
    margin:4px;
    align-items: center;
    justify-content: center;
}


.cardBody {
    background-color:#f8f9fa ;
    margin-bottom: 3px;
    text-align: center;
}

img {
    margin-top: 3px;
}


.itemDetail {
    max-width: 540px;
    margin-top: 20px;
}

.itemDetailBodyDark{
    color:white;
    background-color: black;
}

.darkMode{
    background-color: black;
    color: black;
}

.cardBodyDark {
    background-color: hsl(0,0,33%) ;
    margin-bottom: 3px;
    text-align: center;
    color: black;
}

.cartContainer {
    margin-top: 3%;
    margin-left: 26,5%;
}

.divButtons button {
    margin:4px;
}

.cardCart {
    max-width: 640px;
}

.cantCarrito{
    color:white;
    font-size: x-large;
    margin:10px
}

.carritoVacio{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 300px;
}

footer{
    background-color: #eb6864;
}

ul{list-style: none;}