.cardProducto {
    width: 18rem;
    margin: 4px;
    background-color:#aaaaaa;
}

.cardProductos {
    margin:4px;
    align-items: center;
    justify-content: center;
}


.cardBody {
    background-color:#f8f9fa ;
    margin-bottom: 3px;
    text-align: center;
}

img {
    margin-top: 3px;
}


.itemDetail {
    max-width: 540px;
    margin-top: 20px;
}